html, body {
      font-family: 'Poppins', sans-serif;
      font-size: 0.9em;
}

* {
      padding: 0;
      margin: 0;
      box-sizing: border-box;
}

a {
      color: rgb(10, 45, 161);
}

span {
      color: #4285f4;
      margin-right: 10px;
}

/* contains the header and its element styles */
header {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      height: 10vh;
      text-transform:capitalize;
}

@media screen and (max-width: 768px) {
      header {
            font-size: 0.7rem;
            display: flex;
            align-items: center;
            justify-content: space-around;
            flex-direction: column;
            height: 10vh;
      }
}

header nav {
      height: 100%;
      width: 30%;
      display: flex;
      align-items: center;
      justify-content: space-around;
}

/* contains the main page and its elements style */
main {
      display: flex;
      align-items: center;
      justify-content: center;
}

#component-container {
      height: 85vh;
      width: 90%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-direction: column;
      transition: box-shadow 1s ease-in-out;
}



@media screen and (max-width: 900px) {
      #component-container {
            box-shadow: rgba(0, 0, 0, 0.068) 1px 1px 6px 6px;
            border-radius: 1%;
            height: 80%;
            width: 90%;
      }
}

/* CSS for styling the table-like structure and hover effect */
.result-table {
      display: table;
      border-collapse: collapse;
      width: 100%;
}

.result-row {
      display: table-row;
}

.result-cell {
      display: table-cell;
      padding: 5px 10px;
      border: 1px solid #ccc;
      /* Optional border styling */
}

.result-cell:hover {
      background-color: #f0f0f028;
      /* Background color on hover */
}

/* contains the footer and its elements style */
footer {
      color: gray;
      text-align: center;
}

.search-container {
      display: flex;
      background-color: #f1f1f1;
      border-radius: 25px;
      padding: 5px;
      width: 500px;
      max-width: 100%;
      position: relative;
      margin: auto;
}

.search-box {
      border: none;
      padding: 10px;
      width: 100%;
      border-radius: 25px 0 0 25px;
      outline: none;
}

.search-icon {
      background-color: #4285f4;
      color: white;
      border-radius: 0 25px 25px 0;
      padding: 10px;
      cursor: pointer;
      border: none;
      width: 20%;
}

/* Styles for better mobile responsiveness */
@media (max-width: 600px) {
      .search-box {
            width: 70%;
      }

      .search-icon {
            padding: 10px 20px;
      }
}

#search-view {
      width: 95%;
      height: 90%;
      box-sizing: border-box;
      overflow-y: auto;
}

#search-suggestions {
      position: absolute;
      background-color: #e4e4e45e;
      box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.137);
      backdrop-filter: blur(20px);
      border-radius: 10px;
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
      flex-direction: column;
      width: 480px;
      top: 105%;
      max-height: 150px;
      overflow-y: auto;
      z-index: 1;
}

#search-suggestions ul {
      list-style-type: none;
      padding: 0;
      margin: 0;
      flex: 100%;
      width: 100%;
}

#search-suggestions li {
      padding: 10px;
      border-bottom: 1px solid #ffffff;
      cursor: pointer;
}

#search-suggestions li:last-child {
      border-bottom: none;
}

#search-suggestions li:hover {
      background-color: #5f5f5f31;
}

#loading-container {
      background: radial-gradient(circle at center, rgba(175, 9, 9, 0.062), #00ff0010, rgba(0, 185, 241, 0.288));
      width: 100vw;
      height: 100vh;
      visibility: hidden;
      position: absolute;
      margin: 0;
      z-index: 100;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      flex-direction: column;
      backdrop-filter: blur(100px);
}

@keyframes animateLoading {
      from{
            visibility: visible;
            color: rgb(2, 218, 247);
      }
      to {
            visibility: hidden;
            color: rgb(0, 255, 0);
      }
}


.showLoad {
      animation: animateLoading 2s;
}
/* 
.loading-container {
      display: none;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(255, 255, 255, 0.7);
      z-index: 9999;
} */

.spinner {
      border: 4px solid rgba(255, 255, 255, 0.3);
      border-top: 4px solid #3498db;
      /* Loading spinner colors */
      border-radius: 50%;
      width: 40px;
      height: 40px;
      /* position: absolute; */
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      animation: spin 1s linear infinite;
      /* Animation duration */
}

@keyframes spin {
      0% {
            transform: rotate(0deg);
            border-top: 4px solid rgb(0, 153, 255);
      }

      100% {
            transform: rotate(360deg);
            border-top: 4px solid #00ff15;
      }
}

#load-title {
      text-transform: capitalize;
      /* Converts the text to start with capital letters */
      font-size: 3em;
      /* Adjust the font size to your preference */
      /* Other CSS properties for further styling if needed */
}

iframe {
      border: none;
      background-color: transparent;
}