html, body {
      /* background-color: rgb(39, 51, 61); */
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      color: rgb(3, 70, 31);
      font-size: 0.9em;
}

a {
      color: rgb(10, 45, 161);
}

span {
      color: #4285f4;
      margin-right: 10px;
}

/* contains the header and its element styles */
header {
      display: flex;
      align-items: center;
      justify-content: space-around;
      height: 10vh;
      text-transform:capitalize;
}

@media screen and (max-width: 768px) {
      header {
            font-size: 0.7rem;
            display: flex;
            align-items: center;
            justify-content: space-around;
            flex-direction: column;
            height: 10vh;
      }
}

header nav {
      height: 100%;
      width: 30%;
      display: flex;
      align-items: center;
      justify-content: space-around;
}

/* contains the main page and its elements style */
main {
      height: 85vh;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
}

#component-container {
      box-shadow: rgba(0, 0, 0, 0.027) 1px 1px 6px 6px;
      border-radius: 1%;
      height: 90%;
      width: 80%;
      display: flex;
      align-items: center;
      justify-content: space-around;
      flex-direction: column;
      transition: box-shadow 1s ease-in-out;
}

#component-container:hover {
      box-shadow: rgba(15, 97, 117, 0.144) 1px 1px 6px 6px;
}

@media screen and (max-width: 900px) {
      #component-container {
            box-shadow: rgba(0, 0, 0, 0.068) 1px 1px 6px 6px;
            border-radius: 1%;
            height: 80%;
            width: 90%;
      }
}

/* CSS for styling the table-like structure and hover effect */
.result-table {
      display: table;
      border-collapse: collapse;
      width: 100%;
}

.result-row {
      display: table-row;
}

.result-cell {
      display: table-cell;
      padding: 5px 10px;
      border: 1px solid #ccc;
      /* Optional border styling */
}

.result-cell:hover {
      background-color: #f0f0f0;
      /* Background color on hover */
}

/* contains the footer and its elements style */
footer {
      color: gray;
      text-align: center;
}

.search-container {
      display: flex;
      background-color: #f1f1f1;
      border-radius: 25px;
      padding: 5px;
      width: 300px;
      max-width: 100%;
      position: relative;
}

.search-box {
      border: none;
      padding: 10px;
      width: 100%;
      border-radius: 25px 0 0 25px;
      outline: none;
}

.search-icon {
      background-color: #4285f4;
      color: white;
      border-radius: 0 25px 25px 0;
      padding: 10px;
      cursor: pointer;
}

/* Styles for better mobile responsiveness */
@media (max-width: 600px) {
      .search-box {
            width: 70%;
      }

      .search-icon {
            padding: 10px 20px;
      }
}

#search-view {
      background-color: #a8ffe2;
      border-radius: 10px;
      width: auto;
      height: 60vh;
      overflow-y: auto;

}

#search-suggestions {
      position: absolute;
      background-color: #e4e4e45e;
      box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.137);
      backdrop-filter: blur(20px);
      border-radius: 10px;
      padding: 3%;
      width: 280px;
      top: 105%;
      max-height: 150px;
      overflow-y: auto;
      z-index: 1;
}

#search-suggestions ul {
      list-style-type: none;
      padding: 0;
      margin: 0;
}

#search-suggestions li {
      padding: 10px;
      border-bottom: 1px solid #eee;
      cursor: pointer;
}

#search-suggestions li:last-child {
      border-bottom: none;
}

#search-suggestions li:hover {
      background-color: #f0f0f0;
}