/* Style for the timer container */
.timer-container {
      text-align: center;
      margin: 20px;
}

/* Style for the timer display */
.timer-display {
      font-family: 'Times New Roman', Times, serif;
      font-size: 7em;
      margin-bottom: 10px;
      color: #21c212;
}

/* Style for control buttons */
.timer-button {
      padding: 5px 10px;
      margin: 5px;
      font-size: 2em;
      cursor: pointer;
      border: none;
      background-color: #3498db;
      color: white;
      border-radius: 5px;
}

.timer-button:hover {
      box-shadow: rgba(0, 0, 0, 0.144) 1px 1px 2px 2px;
}

.timer-button:active {
      box-shadow: rgba(0, 0, 0, 0.041) 1px 1px 2px 2px;
      scale: 0.95;
}

/* Style for the Start button */
.start-button {
      background-color: #27ae60;
}

/* Style for the Pause button */
.pause-button {
      background-color: #e67e22;
}

/* Style for the Resume button */
.resume-button {
      background-color: #27ae60;
}

/* Style for the Stop button */
.stop-button {
      background-color: #e74c3c;
}

/* Style for the Reset button */
.reset-button {
      background-color: #f39c12;
}